.footer {
  background-color: #002244;
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  height: 40px;
  margin-bottom: 10px;
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-left h4 {
  margin: 10px 0;
}

.footer-center {
  flex: 1;
  text-align: center;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right h4 {
  margin-bottom: 10px;
}

.footer-right p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-icons .icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  transition: transform 0.3s ease; 
}

.social-icons .icon:hover {
  transform: scale(1.2); 
}

.social-icons .facebook {
  background-image: url("../img/facebook.png");
}

.social-icons .youtube {
  background-image: url("../img/youtube.png");
}

.social-icons .instagram {
  background-image: url("../img/instagram.png");
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-right {
    text-align: center;
  }
}
